## Tuples

In [8]:
# Anyhting enclosed with round bracket
# It can hold any type of data type
t = (1,2,3,4,5)

In [2]:
type(t)

tuple

In [4]:
t1 = ('Asta', 2, True, 2+3j)

In [5]:
l1 = ['Asta', 2, True, 2+3j]

In [6]:
type(t1)

tuple

In [7]:
type(l1)

list

In [9]:
# Property of a Tuple

In [10]:
# Slicing of dataset
t1[0:2]

('Asta', 2)

In [11]:
l1[0:2]

['Asta', 2]

In [13]:
# Reverse order
t1[::-1]

((2+3j), True, 2, 'Asta')

In [15]:
# Last element of the tuple
t1[-1]

(2+3j)

In [18]:
# Item reassignment operation
l1[0] = 'Behera'

In [17]:
l1

['Behera', 2, True, (2+3j)]

In [19]:
t1[0] = 'Behera'

TypeError: 'tuple' object does not support item assignment

#### --> 'tuple' object does not support item assignment. It is immutable. String is also immutable. But List is mutable.

In [20]:
t1

('Asta', 2, True, (2+3j))

In [21]:
t2 = (1,2,3,4,5,6)

In [24]:
# Append 2 tuples - It is similar to List
t1+t2

('Asta', 2, True, (2+3j), 1, 2, 3, 4, 5, 6)

In [26]:
# Repeat same tuple element twice
t1*2

('Asta', 2, True, (2+3j), 'Asta', 2, True, (2+3j))

In [32]:
t1.count(2)

1

In [34]:
t1.index('Asta')

0

In [37]:
# Where to use Tuples?
# If you don't want anyone to change your password/collection, you can use Tuple
# Where you don't want extend, append. remove, pop, insert operation, you can use Tuple.

In [43]:
# Tuple inside a Tuple
t = ((1,2,3), (4,[5,6]))

In [44]:
t

((1, 2, 3), (4, [5, 6]))

In [46]:
t[1][1][0] = 10

In [48]:
t

((1, 2, 3), (4, [10, 6]))

In [49]:
t[1][1] = 23

TypeError: 'tuple' object does not support item assignment

## Set

In [50]:
l = [1,2,3,4,5,6,66,6,6,5,5,2,2]

In [51]:
l

[1, 2, 3, 4, 5, 6, 66, 6, 6, 5, 5, 2, 2]

In [53]:
# Remove all duplicate element
set(l)

{1, 2, 3, 4, 5, 6, 66}

In [54]:
list(set(l))

[1, 2, 3, 4, 5, 6, 66]

In [55]:
# For creating a set- Curly braces
s = {1,2,3,4,5,6}

In [56]:
type(s)

set

In [57]:
s = {}

In [58]:
type(s)

dict

In [60]:
s1 = {1,1,1,1,2,2,2,2,3,3,3,3,3,4,4}

In [61]:
s1

{1, 2, 3, 4}

In [62]:
s1[0]

TypeError: 'set' object is not subscriptable

In [63]:
# you can not slice and dice from a set using a indexing operation

In [66]:
# If you want to slice and dice, convert it to a list then use indexing operation
list(s1)[2]

3

In [67]:
s1.add(22)

In [68]:
s1

{1, 2, 3, 4, 22}

In [72]:
s1.add('Asta')

In [70]:
s1

{1, 2, 22, 3, 4, 'Asta'}

In [73]:
s1.add([1,2,3])

TypeError: unhashable type: 'list'

In [74]:
# A list can not be host inside a set

In [75]:
s1.discard(45)

In [76]:
s1

{1, 2, 22, 3, 4, 'Asta'}

In [77]:
s1.remove(45)

KeyError: 45

In [78]:
s = {4,5,6,7,8,78,34,5,"Asta","Asta"}

In [79]:
s

{34, 4, 5, 6, 7, 78, 8, 'Asta'}

## Dictionary

In [81]:
d = {3,4}

In [82]:
type(d)

set

In [83]:
d1 = {4:'Asta'}

In [84]:
d1

{4: 'Asta'}

In [85]:
d1 = {'key1': 5545, 'key2':'Asta','key3':[2,3,4]}

In [86]:
type(d1)

dict

In [87]:
d1

{'key1': 5545, 'key2': 'Asta', 'key3': [2, 3, 4]}

In [89]:
d1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [90]:
d1.values()

dict_values([5545, 'Asta', [2, 3, 4]])

In [91]:
# Difference between set and dictionary is, while creating a dictiont, you have create key - value pair.

In [92]:
d1 = {"key1":[2,3,4,5], 'key2':"Asta", "key1":45}

In [93]:
d1['key1']

45

In [94]:
d3 = {'Name':'Astajyoti Behera', 'Mobile':8020980063, 'Email':'Astajyoti@gmail.com'}

In [97]:
d3

{'Name': 'Astajyoti Behera',
 'Mobile': 8020980063,
 'Email': 'Astajyoti@gmail.com'}

In [101]:
# Value wise you can store any type of data type in values inside a dictionary (i.e. string, int, tuple, dict, list, set)

In [106]:
d3.items()

dict_items([('Name', 'Astajyoti Behera'), ('Mobile', 8020980063), ('Email', 'Astajyoti@gmail.com')])

In [107]:
type(d3.items())

dict_items

In [108]:
d = {'key1':'sudh','key2':[1,2,3,4]}

In [118]:
# Assigning values/Creating new key
d['key3'] = 45

In [112]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 45}

In [115]:
# Item replacement
d['key3'] = 50

In [116]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 50}

In [119]:
d.get('key1')

'sudh'

In [120]:
d.get('key20')