In [9]:
# count the number of letters inside the string
s = 'This is basic python class'
len(s)

26

In [5]:
count = 0
for i in s:
    #count = count+1
    count += 1
print(count)

26

In [6]:
# Print a string in reverse order
s[::-1]

'ssalc nohtyp cisab si sihT'

In [7]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

s
i

s
i
h
T

In [12]:
i = len(s)-1
while (i>=0):
    print(s[i], end = '')
    i=i-1

ssalc nohtyp cisab si sihT

In [18]:
s = "astajyoti"
v = 'AaEeIiOoUu'

# Try to find out which chracter is a vowel and which are not
for i in s:
    for j in v:
        if i == j:
            print('vowel ',i)
        else:
            pass

vowel  a
vowel  a
vowel  o
vowel  i

In [16]:
for i in s:
    if i in v:
        print('vowel ',i)
    else:
        print('not vowel ',i)

vowel  a
not vowel  s
not vowel  t
vowel  a
not vowel  j
not vowel  y
vowel  o
not vowel  t
vowel  i

In [22]:
# Write a code to check if a string is palindrome or not
# "eye"
# "malayalam"
# "tnet"

string = input()
if(string==string[::-1]):
    print("The string is a palindrome")
else:
    print("Not a palindrome")

eye
The string is a palindrome

In [24]:
word = input()
for i in range(len(word)):
    if word[i] != word[len(word)-i-1]:
        print("Not Palindrome")
        break
else:
    print("palindrome")

eye
palindrome

In [26]:
s = input()
f = ''
i = len(s)-1

while i>=0:
    f= f+s[i]
    i = i-1
if s==f:
    print('palindrome')
else:
    print('not a palindrome')

eye
palindrome

In [28]:
# Try to find out India is a part of this dictionary or not
d = {'india':'IN', 'canada':'CA', 'china':'CH','United States':'US'}

In [29]:
'india' in d

True

In [31]:
# find the countries which have more than 5 characters

L_greater = []
L_small = []

for i in d:
    if len(i)<=5:
        L_small.append(i)
    else:
        L_greater.append(i)

In [32]:
print(L_greater)
print(L_small)

['canada', 'United States']
['india', 'china']

In [51]:
# Find the maximum number in 'asta', 'behera' keys

d1 = {'asta':{'a':14, 'b' : 10,'c':4}, 'behera':{'d':45, 'e':5, 'f':1 }}

In [37]:
d1

{'asta': {'a': 14, 'b': 10, 'c': 4}, 'behera': {'d': 45, 'e': 50, 'f': 1}}

In [55]:
x = []
for i in d1.keys():
    x.append(max(d1[i].values()))
print(x)

[14, 45]

In [73]:
# Out of all the integers, which is the maximum
d1 = {'asta':{'a':14, 'b' : 90,'c':4}, 'behera':{'d':45, 'e':5, 'f':1 }, 'g':34, 'h':[45,6,7,8,9,3], 'i':(85,34,2), 'k':'asta'}

In [74]:
x = []
for i in d1.keys():
    if type(d1[i]) == dict:
        x.append(max(d1[i].values()))
    elif (type(d1[i]) == list) or (type(d1[i]) == tuple):
        x.append(max(d1[i]))
    elif type(d1[i]) == int:
        x.append(d1[i])
        
print(max(x))

90